// @import sass modules

@import "modules/core/colors";
@import "modules/core/mixins";
@import "modules/core/normalize";

// TODO: pull from `/node_modules` directly.
@import "modules/vendor/mapbox-gl";

// remove this line if you do not want to use CAP styles
@import "modules/core/style";

$blue: #374C67;
$sidebar-color: rgba(#005288, 0.8);
$sidebar-color-opaque: #2C709E;
$hover-sidebar-color: #91AEBC;
$orange: #f99d33;
$header-height: 64px;
$sidebar-width: 360px;

html, body {
  font-family: 'Open Sans', sans-serif;
}

.recharts-curve.recharts-pie-label-line {
  fill: none;
  stroke: none;
}

.recharts-layer.recharts-pie-sector path {
  stroke: none;
}


.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.header {
  z-index: 10;
  width: 100%;
  height: $header-height;
  position: absolute;
  display: block;
  -webkit-box-shadow: -1px 3px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 13px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 13px 0px rgba(0,0,0,0.75);

  .logo {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
  }

  .info-buttons {
    position: absolute;
    right: 40px;
    display: inline-block;
    height: $header-height;
    line-height: $header-height;
    .info:not(:first-child) {
      margin-left: 20px;
    }
    .info {
      font-weight: bold;
      font-size: 14px;
      &:hover:not(.share), &.share .fa:hover {
        cursor: pointer;
        border-bottom: 1px solid black;
      }

      &.share .fa {
        margin-left: 10px;
      }
    }
    .icons {
      margin-left: 5px;
    }
  }

}

.content-container {
  display: block;
  width: 100%;
  height: calc(100% - #{$header-height});
  position: absolute;
  top: $header-height;
}

.charts-container {
  display: block;
  width: 300px;
  margin: 0px auto;
}

.cap-tooltip {
  display: block;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  background-color: rgba(#fff, 0.9);
  color: #555;
}

.desert-toggle {
  margin-top: 10px;
}

.popup-container {
  position: absolute;
  left: $sidebar-width;
  bottom: 0px;
  width: 350px;
  max-height: 100%;
  overflow-y: auto;
  display: block;
  z-index: 5;
  font-size: 14px;
  background-color: rgba(#fff, 0.9);
  -webkit-box-shadow: 10px 2px 38px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 2px 38px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 2px 38px -15px rgba(0,0,0,0.75);
  padding: 25px;
  overflow: auto;
  .icons {
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
  &.closed {
    width: 40px;
    height: 40px;
    div {
      margin-top: 40px;
    }
    overflow: hidden;
  }
}

.sidebar-container {
  background-color: $sidebar-color;
  color: #fff;
  width: $sidebar-width;
  height: 100%;
  position: relative;
  z-index: 12;
  padding: 27px;
  overflow-y: auto;
  text-align: center;
  font-size: 13px;


  &.opaque {
    background-color: $sidebar-color-opaque;
  }

  .Select-menu-outer {
    z-index: 25;
  }

  .demographics-bar-chart {
    margin-left: -22px;
    margin-top: 10px;
    .recharts-x-axis .recharts-text.recharts-cartesian-axis-tick-value {
      transform: translate(0, 5px);
      font-size: 11px;
    }
  }

  h1 {
    font-size: 18px;
    &.x-percent-header {
      margin-bottom: -16px;
    }
    &.title-header {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  h4 {
    font-size: 13px;
    font-weight: normal;
    margin-top: -5px;
  }

  button {
    background-color: inherit;
    border: none;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-left: 10px;
    }
    &.selected {
      background-color: $hover-sidebar-color;
    }
    &:hover {
      background-color: $hover-sidebar-color;
    }
  }

  .description-paragraph {
    text-align: left;
    margin-bottom: 15px;
  }
}

.center-buttons.no-click {
  button {
    pointer-events: none;
    opacity: 0.3;
  }
}

.report-link {
  font-weight: bold;
  &:hover {
    border-bottom: 1px solid #555 !important;
  }
}

.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-ctrl-top-left {
  left: $sidebar-width !important;
}

.state-grid {
  position: absolute;
  left: $sidebar-width;
  padding: 0px !important;
  font-size: 13px;
  top: 0px;
  display: block;
  height: 100%;
  width: calc(100% - #{$sidebar-width});
  z-index: 7;
  background-color: #fff;
  .state-row.row {
    height: 50%;
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
    display: block;
    .state-cell {
      height: 100%;
      opacity: 0.8;
      background-color: #FFF;
      padding: 0px;
      .description, .image {
        display: block;
        width: 100%;
      }
      .description {
        height: 60%;
        padding: 15px;
        background-color: #fff;
        overflow: auto;
        z-index: 11;
      }
      .image {
        height: 40%;
        z-index: 10;
        overflow: hidden;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .state-row.row {
      .state-cell {
        &:not(:hover) {
          opacity: 0.5;
        }
        &:hover {
          -webkit-box-shadow: 10px 10px 63px -8px rgba(0,0,0,0.75);
          -moz-box-shadow: 10px 10px 63px -8px rgba(0,0,0,0.75);
          box-shadow: 10px 10px 63px -8px rgba(0,0,0,0.75);
        }
      }
    }
  }
}

.mobile-about-data {
  display: block;
  margin-top: 10px;
  padding: 5px;
  &:hover {
    cursor: pointer;
    background-color: $hover-sidebar-color;
  }
  .icons {
    margin-left: 5px;
  }
}

.map-container {
  position: absolute;
  top: 0px;
  display: block;
  height: 100%;
  width: 100%;
}

.map-controls {
  position: absolute;
  left: $sidebar-width + 30;
  top: 0px;
  padding: 20px;
  z-index: 5;

  .map-select {
    margin-bottom: -5px;
    width: 300px;
    display: inline-block;
  }
}

.map {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
  border-bottom: none !important;
  color: inherit !important;
}

h3, h4, h5 {
  margin: 5px 0px 5px 0px;
}

.tether-element {
  z-index: 11;
}



.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.logo-link {
  text-decoration: none;
  border-bottom: none;
}

.button-divider {
  margin: 20px 0px;
}

.description-header {
  font-weight: bold;
  text-transform: uppercase;
}

.description-paragraph {
  font-size: 14px;
}

.about-the-data {
  position: absolute;
  left: $sidebar-width;
  height: 100%;
  overflow-y: auto;
  top: 0px;
  background-color: rgba(#fff, 0.9);
  padding: 20px;
  z-index: 8;
  -webkit-box-shadow: 10px 10px 63px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 63px -8px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 63px -8px rgba(0,0,0,0.75);
  .icons {
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }
}

.state-select-container {
  font-size: 14px;
}


@media(max-width: 768px) {

  .about-the-data {
    left: 0px;
    position: relative;
  }

  .state-select-container {
    overflow-y: visible !important;
  }


  .popup-container {
    height: 100%;
    z-index: 20;
    left: 0px;
    width: 100%;
  }

  .map-components {
    position: relative;
    &.hide-map {
      display: none;
    }
  }

  .sidebar-container {
    position: static;
    width: 100%;
    height: auto;
    overflow-y: visible;
  }

  .map-container {
    height: 500px;
    position: static;
  }

  .no-mobile {
    display: none;
  }

  .map-controls {
    left: 30px;
  }

  .mapboxgl-ctrl-top-left {
    left: 0px !important;
  }
}
