$colors: (
  blue: #1c3664,
  dark-blue: #051b32,
  medium-blue: #40668c,
  light-blue: #7f99b2,
  ultra-light-blue: #BECBD8,
  red: #991b1e,
  dark-red: #481111,
  medium-red: #b34b41,
  light-red: #cc857e,
  ultra-light-red: #E3C1BD,
  green: #346734,
  dark-green: #1b331c,
  medium-green: #678c66,
  light-green: #9ab299,
  ultra-light-green: #CBD8CB,
  orange: #b44e14,
  dark-orange: #763019,
  medium-orange: #de761c,
  light-orange: #f0c67e,
  ultra-light-orange: #F9E9BA,
  brown: #8c7355,
  dark-brown: #573b16,
  medium-brown: #c29a62,
  light-brown: #d4bf99,
  ultra-light-brown: #EAE3D3,
  gray: #666766,
  dark-gray: #333333,
  medium-gray: #999999,
  light-gray: #cccccc,
  ultra-light-gray: #F1F1F2
);
